VIRUSTOTAL_API_KEY=522a65907562534902ad704e6f3a73fff5305cb905efcf4509bca6c3b42b0f03
GOOGLE_SAFE_BROWSING_API_KEY=1:736249450526:web:c2439ef898e461a4619e0f
PHISHTANK_API_KEY=your_phishtank_key_here
DATABASE_URL=postgresql://user:password@localhost:5432/phishermann
REDIS_URL=redis://localhost:6379/0
SECRET_KEY=your_secret_key_here
